.contenedorAboutUs{
    height: auto;
    display: flex;
}
.aboutUs{
    width: 70%;
    float: right;
    position: relative;
}
.imgAboutUs{
    width: 30%;
    height: 100px;
    background-color: brown;
    float: left;
    position: relative;
}
