
.claves{
    display: flex;
}

.valores{
    display: flex;
}

.clave{
    width: 192px;
    color: #d25a1e;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.valor{
    width: 192px;
    color: #fff;
    text-align: center;
}

.borrar_producto p{
    color: #d25a1e;
    font-weight: 600;
    /* margin-left: 40px; */
    cursor: pointer;
    font-size: 20px;
}