.carrito{
    height: 22px;
    width: 22px;
}

.cardWidget{
    display: flex;
    
}

.numero{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    list-style-type: none;
    
}
